[submodule "lib/openzeppelin-foundry-upgrades"]
	path = lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/http://vectorized/solady
[submodule "lib/bao-base"]
	path = lib/bao-base
	url = https://github.com/baofinance/bao-base
