{
  "printWidth": 120,
  "useTabs": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.sol",
      "options": {
        "semi": true,
        "singleQuote": false,
        "trailingComma": "all"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "arrowParens": "avoid",
        "explicitTypes": "preserve",
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all"
      }
    },
    {
      "files": [
        "*.yml"
      ],
      "options": {
        "parser": "yaml"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-solidity"
  ]
}